
body {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas: "header"
                       "container"                       
                        "footer";
    grid-template-rows: 245px 2000px 140px;
    margin: 0px;
    padding: 0px;
}


header 
{   font-family: sans-serif;    
    grid-area: header;
    background-color: #579c87;
    color: #fdcb46;    
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleUnderNote .fab{
    font-size: 2em;
}

.title-menu{
    font-size: 1.5em;
}


.note-line{
    height: 20px;
    
}
    

h1{
    font-family: sans-serif;
    font-size: 3em;
}

p{
    font-size: 1.5em;
    font-family:'tillana';
}

container
{    
    grid-area: container;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;    
    
    }

.icon-note{    
    text-align: center;    
    font-size: 5em;
    margin: 0px 10px;
}

.fa-itunes-note{
    background: -webkit-linear-gradient(left, #f15d61, #f6916a);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h2{
    text-align: center;    
    font-family:sans-serif;
    font-size: 3em;
    
}

#menu-page1
{
    background-color: #fcdfdb;
    display: flex;
    justify-content: center;  
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    padding: 20px 100px 20px 100px;
    }

#menu-page2    
{
    background-color: #fff5fe;
    display: flex;
    justify-content: center;  
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    padding: 20px 100px 20px 100px;
    }




.title-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#titleWithNote{
    text-align: center;    
    font-family: 'devonshire';
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 10px;
}

#titleWithChic{
    font-family: 'croissant one';
    text-align: center;    
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(left, #d8852e, #905bfd);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}





#besideNote{
    font-family: 'devonshire';
    font-size: 3em;
}

h4{
    text-align: center;
    font-family: 'Rancho';
    font-size: 2em;
}

.platAndPrice{
    display: flex;
    justify-content: space-between;
}

spam{
    float: right;
}

.platandprice .plat{
    float: left;
    font-family: 'Rancho';
}

.platAlone{
    justify-content: center;
}

.noteBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer
{   
    font-family: sans-serif;
    grid-area: footer;
    background-color: #579c87;
    color: #fdcb46;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.contact{
    float: left
    }

.mentionLeg{
    float: right
 }    
        


a
{
    margin-top: 50px;
    text-decoration: none;
    color: #fdcb46;

}







