
html{
    height: 100%
}

body {
    width: 100%;  
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 2388px;
    min-height: 100%;
}


/*haut de page cadre Ohmyfood*/
header {
    width: 100%;
    height: 245px;
    grid-area: header;
    background-color: #579c87;       
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
}

/*Titre de la page ohmyfood"*/

a {
    text-decoration: none;
}
 
/*Titre ohmyfood*/
h1 a {
    font-family: sans-serif;
    font-size: 3em;
    color: #fdcb46; 
}


/*page contenant le cadre blanc et la page du menu*/
main {   
    width: 100%;
    height: 2004px;
    grid-area: main;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center; 
}

/*Partie des menus*/
article{
    margin-bottom: 60px;
}

/*Titre dans cadre blanc*/
h2 {
    text-align: center;    
    font-family:sans-serif;
    font-size: 3em;
    margin-top: 90px;
    margin-bottom: 50px;   
}

/*Titre de chaque partie des menus*/



h4 {
    font-size: 2em; 
    text-align: center;
}
/*
h4::before{
    content:'';
    width: 0;
    border-bottom: 2px solid transparent;
    
}

h4:hover::before{
   animation: nextarrow 2s linear infinite;    
}
*/

h4:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 0%; /* Change this to whatever width you want to have before hover. */
    padding-top: 10-px; /* This creates some space between the element and the border. */
    border-top: 3px solid black; /* This creates the border. Replace black with whatever color you want. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

h4:hover:after {
    width: 100%; /* This will be the new width of your border when on hover */
}



/*caractéristiques communes aux pages menus*/
.menu-page {
    width: 1182px;
    height: 1677px;    
    display: flex;
    justify-content:space-around;  
    flex-direction: column;
    margin: 20px auto;    
}

.platAndPrice {    
    display: flex;
    justify-content: space-between;
    margin : 10px 183px;
}

.platAlone {
    margin: 10px 183px;    
}

.platAlone .plat {
    padding: 10px 0px;
}

.lineTopTitle, .lineMiddleTitle, .lineBottomTitle {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}


/*Menu LA NOTE ENCHANTEE*/

/*Note + titre dessous*/
.titleUnderNote .fab {
    font-size: 2em;
}

.icon-note{    
    text-align: center;    
    font-size: 5em;
    margin: 0px 10px;
}

#titleWithNote {
    text-align: center;    
    font-family: 'devonshire';
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*gradiant de couleur note*/
.fa-itunes-note {
    background: -webkit-linear-gradient(left, #f15d61, #f6916a);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.menu-page1 {
    background-color: #fcdfdb;
    font-family: 'Chilanka', cursive;    
}


.menu-page1 .platAndPrice, .platAlone{
    font-size: 22px;
}

/*Note et titre en bas du menu*/
.noteBottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#besideNote {
    font-family: 'devonshire';
    font-size: 3em;
}




/*Menu LE CHIC A LA FRANCAISE*/

/*Titre du menu avec gradiant de couleurs*/
#titleWithChic {
    font-family: 'croissant one';
    text-align: center;    
    font-size: 3em;
    margin: 60px auto;
    background: -webkit-linear-gradient(left, #d8852e, #905bfd);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}


.menu-page2 {  
    background-color: #fff5fe;
}

.menu-detail2 {
    font-family: 'libre baskerville';
}

#menu2Starter {
    color :#c67412; 
}

#menu2Main {     
    color: #a56799; 
}

#menu2Desert {     
    color: #6e4ccc;   
}

.menu-page2 .plat, .menu-page2 .price{
    font-size: 25px;    
}


/*Menu LE DELICE DES PAPILLES*/

/*titre du menu avec gradiant de couleurs*/
#titleStyle3 {
    font-family: 'parisienne';
    text-align: center;    
    font-size: 6em;
    margin: 60px auto;
    background: -webkit-linear-gradient(left, #905bfd, #1b91fa);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.menu-page3 {
    background-color: #edefef;
    font-family: 'Kalam', cursive;
}


.title-menu3 h4 {
    font-family: 'Kalam', cursive;
    font-size: 2em;
}

.menu-page3 .plat, .menu-page3 .price{
    font-size: 25px;
}

/*Menu LE DELICE DES PAPILLES*/

/*titre du menu avec gradiant de couleurs*/
#titleStyle4 {
    text-align: center;    
    font-size: 6em;
    margin: 60px auto;  
    background: -webkit-linear-gradient(left, #42973c, #bfff7e);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script';
}

.menu-page4 {
    background-color: #fdfffd;
    font-family: 'Kalam', cursive;
}


.menu-page4 .plat, .menu-page4 .price{
    font-size: 22px;
}




/*Pied de page*/
footer {  
    height: 137px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    grid-area: footer;
    background-color: #579c87;    
    align-items: center; 
    position:fixed;
    bottom: 0;
    left: 0;
}

.bottom a {
    color: #fdcb46;
    font-size: 35px;
    transition: transform cubic-bezier(0.71, -0.27, 0.11, 1.01) .5s;
    text-align: center;    
}

/*Animation "contact" et "à propos"*/
@-webkit-keyframes shake {
    from{
        -webkit-transform: rotate(5deg);
    }
    to{   
        -webkit-transform: rotate(-5deg);
        -webkit-transform-origin: center center;         
    }
}

.bottom:hover {
    -webkit-animation:shake .1s ease-in-out .1s infinite alternate;
}



/* 
    MEDIA QUERIES FOR RESPONSIVENESS :
    ---+--------+--------+------------
    xs |    0px |  575px | Smartphones (portrait)
    sm |  576px |  767px | Smartphones (landscape)
    md |  768px |  991px | Tablets
    lg |  992px | 1199px | Small screens
    xl | 1200px |    +px | Large screens, TV etc...


*/



@media screen and (max-width: 1199px) 
    {
        body {
            width: 100%;  
            margin: 0px;
            padding: 0px;
            position: relative;
            height: 2388px;
            min-height: 100%;
        }
              
        main {
            width: 100%;
            height: auto;
        }
        
        .menu-page{
            width: 100%;
            height: auto;
            margin: auto;
        }
        
        .note-line img{
            width: 250px;
        }
        
        .lineTopLeft2 img, .lineTopRight2 img, .lineMiddleLeft2 img, .lineMiddleRight2 img, .lineBottomLeft2 img, .lineBottomRight2 img{
            width: 250px;
        }
        
        .lineLeftMenu3 img, .lineRightMenu3 img{
            width: 250px;
        }
        
        .lineLeftMenu4 img, .lineRightMenu4 img{
            width: 250px;
        }
        


@media screen and (max-width: 991px) 
    {
        body { 
            display: grid;
            width: auto;
            height: auto;
            grid-template-areas: "header"
                                 "main"
                                 "footer";
            grid-template-rows: 200px auto 100px;
            margin: 0px;
            padding: 0px;
        }  
        
        main {
            width: 100%;
            height: auto;
        }
        
        .menu-page{
            width: 100%;
            height: auto;
            margin: auto;
        }
        
        .platAndPrice, .platAlone {   
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        
        .plat, .price{
            justify-content: center;
        }
        
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            margin: 10px 0px;
        }
        
        .title-menu2 h4{
            justify-content: center;
        }
        
        .note-line img{
            width: 200px;
        }
        
        .lineTopLeft2 img, .lineTopRight2 img, .lineMiddleLeft2 img, .lineMiddleRight2 img, .lineBottomLeft2 img, .lineBottomRight2 img{
            width: 200px;
        }
        
        .lineLeftMenu3 img, .lineRightMenu3 img{
            width: 200px;
        }
        
        .lineLeftMenu4 img, .lineRightMenu4 img{
            width: 200px;
        }
}

@media screen and (max-width: 767px) 
    {
        body { 
            display: grid;
            width: auto;
            height: auto;
            grid-template-areas: "header"
                                 "main"
                                 "footer";
            grid-template-rows: 200px auto 100px;
            margin: 0px;
            padding: 0px;
        }  
        
        main {
            width: 100%;
            height: auto;
        }
        
        h2{
            font-size: 1em;
        }
        
        .menu-page{
            width: 100%;
            height: auto;
            margin: auto;
        }
            
        
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0px;
        }
        
        .platAndPrice, .platAlone {   
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        
        .plat, .price{
            text-align: center;
        }
        
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            margin: 10px 0px;
        }
        .title-menu1 h4, .title-menu2 h4, .title-menu3 h4, .title-menu4 h4{
            text-align: center;
        }
        
        
        .note-line img{
            width: 100px;
        }
        
        .lineTopLeft2 img, .lineTopRight2 img, .lineMiddleLeft2 img, .lineMiddleRight2 img, .lineBottomLeft2 img, .lineBottomRight2 img{
            width: 100px;
        }
        
        .lineLeftMenu3 img, .lineRightMenu3 img{
            width: 100px;
        }
        
        .lineLeftMenu4 img, .lineRightMenu4 img{
            width: 100px;
        }
        
        
        
}

@media screen and (max-width: 575px) 
    {
        body { 
            display: grid;
            width: auto;
            height: auto;
            grid-template-areas: "header"
                                 "main"
                                 "footer";
            grid-template-rows: 200px auto 100px;
            margin: 0px;
            padding: 0px;
        }  
        
        main {
            width: 100%;
            height: auto;
        }
        
                
        h2{
            visibility: hidden;
            margin: 0px auto;
        }
            
        
        #titleStyle3{
            font-size: 4em;
        }
        
        #titleStyle4{
            font-size: 3em;
        }
        
        .menu-page{
            width: 100%;
            height: auto;
            margin: auto;
        }
        
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0px;
        }
        
        .platAndPrice, .platAlone {   
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;            
        }
        
        .plat, .price{
            text-align: center;
        }
        
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            margin: 10px 0px;
        }
        .title-menu2 h4{
            text-align: center;
        }
        
        .note-line img{
            width: 50px;
        }
        
        .lineTopLeft2 img, .lineTopRight2 img, .lineMiddleLeft2 img, .lineMiddleRight2 img, .lineBottomLeft2 img, .lineBottomRight2 img{
            visibility: hidden;
        }
        
        .lineLeftMenu3 img, .lineRightMenu3 img{
            visibility: hidden;
        }
        
        
        
        .lineLeftMenu4 img, .lineRightMenu4 img{
            visibility: hidden;
        }
        
        .icon-note{    
            text-align: center;    
            font-size: 3em;
            margin: 0px 10px;
        }
        
        .noteBottom{
            display: flex;
            flex-direction: column;
        }
        
         h1 a{
            font-size: 2em;
        }
        
        .mentionLeg a, .contact a{
            font-size: 20px;
        }
}






