

body {
    width: 100%;
    height: 2388px;  
    margin: 0px;
    padding: 0px;
}


/*haut de page cadre Ohmyfood*/
header {
    width: 100%;
    height: 245px;
    grid-area: header;
    background-color: #579c87;       
    display: flex;    
    justify-content: center;
    align-items: center;
}



a {
    text-decoration: none;
}
 
/*Titre ohmyfood*/
h1 a {
    font-family: sans-serif;
    font-size: 3em;
    color: #fdcb46; 
}

main {   
    width: 100%;
    height: 2004px;
    grid-area: main;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center; 
}


/*zone contenant les 4 pochettes menu*/
.container {
    height: 1724px;
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-around;
    margin: 0px auto;
}

?container a {
    margin: 0px 0px;
}

/*Caractéristiques communes pochettes des menus*/
.frame{
    height: 760px;
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;        
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #555 
}

.zoom-menu {
    font-size: 30px;
    text-align: center;
    justify-content: center;
    transform: scale(1);
    opacity: 1;
    transition: .35s ease-in-out;
}

.zoom-menu:hover{
    transform: scale(1.3);
    opacity: 0.5;
}

/*titre "MENU" sur pochette 1,3 et 4*/
.fontMenu {
    font-size: 50px;
    font-family: 'tillana';
}

/*pochette La Note enchantée*/
.fa-itunes-note {
    font-size: 3em;
    background: -webkit-linear-gradient(left, #f15d61, #f6916a);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#note-title {    
    font-family: 'devonshire';
    color: #3c1218;
}

.fontMenu1 {
    color: #3c1218;
}

.frame-menu1 {
    background-color: #fcdfdb;     
}

/*pochette Le chic à la francaise*/
#chic-title {
    background: -webkit-linear-gradient(left, #d8852e, #905bfd);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'croissant one';
    font-size: 1em;
}

.chicMenu {
    font-size: 50px;
    font-family: 'libre Baskerville';
    color: #c77412;
}

.frame-menu2 {    
    background-color: #fff5fe;      
}


/*pochette le delice des papille*/
#delice-title {
    background: -webkit-linear-gradient(left, #905bfd, #1b91fa);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'parisienne';
}

.fontMenu3 {
    color: #0887fb;   
}

.frame-menu3 {
    background-color: #f9f9f9;     
}

/*pochette la palette du gout*/
#palette-title {
    background: -webkit-linear-gradient(left, #42973c, #bfff7e);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script';
}

.fontMenu4 {
    color: #42973c;
}

.frame-menu4 {    
    background-color: #f9f9f9;     
}


/*zone contenant le rectangle prochainement*/
.next-zone{
    height: 282px;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    background-color: #ffffff;    
    }

.next{
    font-family: sans-serif;
    background-color: #579c87;
    height: 118px;
    width: 653px;
    border-radius: 20px;
    color: #fdcb46;
    font-size: 42px;
    display: flex;
    margin: auto 0px;
    justify-content: center;
    align-items: center;
}

/*animation des 3 points après prochainement*/
@keyframes pointPop1 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pointPop2 {
    0%{
        opacity: 0;
    }
    50%{    
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pointPop3 {
    0%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


#firstPoint{ 
    animation-name: pointPop1; 
    animation-duration: 2s;       
    animation-iteration-count: infinite;
    
}

#secondPoint{
    animation-name: pointPop2; 
    animation-duration: 2s;       
    animation-iteration-count: infinite; 
   
}    

#thirthPoint{
    animation-name: pointPop3; 
    animation-duration: 2s;       
    animation-iteration-count: infinite; 
    
}


/*pied de page*/

footer {  
    height: 137px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    grid-area: footer;
    background-color: #579c87;    
    align-items: center; 
    position:fixed;
    bottom: 0;
    left: 0;
}

.bottom a{
    color: #fdcb46;
    font-size: 35px;
    transition: transform cubic-bezier(0.71, -0.27, 0.11, 1.01) .5s;
    text-align: center;    
}

/*Animation "contact" et "à propos"*/
@-webkit-keyframes shake {
    from{
        -webkit-transform: rotate(5deg);
    }
    to{   
        -webkit-transform: rotate(-5deg);
        -webkit-transform-origin: center center;         
    }
}

.bottom:hover {
    -webkit-animation:shake .1s ease-in-out .1s infinite alternate;
}



/*Responsivité Media-Queries


    MEDIA QUERIES FOR RESPONSIVENESS :
    ---+--------+--------+------------
    xs |    0px |  575px | Smartphones (portrait)
    sm |  576px |  767px | Smartphones (landscape)
    md |  768px |  991px | Tablets
    lg |  992px | 1199px | Small screens
    xl | 1200px |    +px | Large screens, TV etc...


*/


@media screen and (max-width: 1199px) 
    {
        body{
            height: 2100x;
        }       
        
        .container {
            height: 1500px;
            width: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content:space-around;
            margin: 20px auto;
        }
        
        .frame{
            height: 560px;
            width: 400px;
        }
       
    }

@media screen and (max-width: 991px) 
    {
        container {
            height: auto;
            width: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content:space-between;
            margin: 0px auto;
        }
        
        .frame{
            margin: 20px auto;
        }
        
        .next-zone{
            margin-bottom: 140px;
        }
       
}

@media screen and (max-width: 767px)
    {
          
        .container {   
            width: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 0px;
        }
        
        .next{
            width: 400px;
            height: 75px;
        }
        
        .bottom a{
            font-size: 25px;
        }
}

@media screen and (max-width: 575px)
    {
        
        
        .container {   
            width: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 0px;
        }
        .frame {
            width: 250px;
            height: 350px;
        }
        .next{
            width: 250px;
            height: 70px;
        }
        
        .next p3{
            font-size: 30px;
        }
        
                
        h1 a{
            font-size: 1.5em;
        }        
                
        .bottom a{
            font-size: 15px;
        }
}

