/*------------------------------ELEMENTS COMMUNS A L'ENSEMBLE DES PAGES---------------------------------------*/

body {
    width: 100%;
    height: 2388px;  
    margin: 0px;
    padding: 0px;
}


/*haut de page cadre Ohmyfood*/
header {
    width: 100%;
    height: 245px;
    background-color: #579c87;       
    display: flex;    
    justify-content: center;
    align-items: center;
}

/*Titre ohmyfood*/
h1 a {
    font-family: sans-serif, monospace;
    font-size: 3em;
    color: #fdcb46; 
}

/*contenu intérieur de l'ensemble des pages*/
.accueil, .menus {   
    width: auto;
    height: 2004px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 
    align-items: center;
}

a {
    text-decoration: none;
}
 

/*PIED DE PAGE FIXE*/

footer {  
    height: 137px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    grid-area: footer;
    background-color: #579c87;    
    align-items: center; 
    position:fixed;
    bottom: 0;
    left: 0;
}

.bottom a{
    color: #fdcb46;
    font-size: 35px;
    transition: transform cubic-bezier(0.71, -0.27, 0.11, 1.01) .5s;
    text-align: center;    
}

/*Animation "contact" et "à propos"*/
@-webkit-keyframes shake {
    from{
        -webkit-transform: rotate(5deg);
    }
    to{   
        -webkit-transform: rotate(-5deg);
        -webkit-transform-origin: center center;         
    }
}

.bottom:hover {
    -webkit-animation:shake .1s ease-in-out .1s infinite alternate;
}



/*-------------------------------PAGE D'ACCUEIL DU SITE-----------------------------------*/




/*ZONE CONTENANT LES 4 COUVERTURES DE MENU*/
.container {
    height: 862px;
    width: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px auto;
}

.container a {
    margin: 0px 0px;
}


/*CARACTERISTIQUES COMMUNES DES COUVERTURES MENU*/
.frame{
    height: 760px;
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;        
    margin: 0px auto;
    box-shadow: 2px 2px 12px #555 
}

.frame-menu1, .frame-menu3{
    margin-right: 30px;
    margin-left: auto;
}

.frame-menu2, .frame-menu4{
    margin-left: 30px;
    margin-right: auto;
}

.zoom-menu {
    font-size: 30px;
    text-align: center;
    justify-content: center;
    transform: scale(1);
    opacity: 1;
    transition: .35s ease-in-out;
}

.zoom-menu:hover{
    transform: scale(1.2);
    opacity: 0.5;
}

/*titre "MENU" sur couverture des menus 1,3 et 4*/
.fontMenu {
    font-size: 50px;
    font-family: 'tillana', sans-serif;
}

/*COUVERTURE "LA NOTE ENCHANTEE"*/
/*Icone note avec gradiant de couleur*/
.fa-itunes-note {
    font-size: 3em;
    background: -webkit-linear-gradient(left, #f15d61, #f6916a);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Titre du menu stylé*/
.note-title {    
    font-family: 'devonshire', sans-serif;
    color: #3c1218;
    font-size: 2em;
    font-weight: normal;
}

.fontMenu1 {
    color: #3c1218;
}

.frame-menu1 {
    background-color: #fcdfdb;     
}

/*COUVERTURE "LE CHIC A LA FRANCAISE"*/

/*Titre "Chic à la francaise" avec gradiant de couleur*/
.chic-title {
    background: -webkit-linear-gradient(left, #d8852e, #905bfd);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'croissant one', sans-serif;
    font-size: 1.2em;
}

.fontMenu2 {
    font-size: 50px;
    font-family: 'libre Baskerville', sans-serif;
    color: #c77412;
    font-weight:900;
}

.frame-menu2 {    
    background-color: #fff5fe;      
}


/*COUVERTURE LE DELICE DES PAPILLES*/

/*Titre "Delice des papilles" avec gradiant de couleur*/
.delice-title {
    background: -webkit-linear-gradient(left, #905bfd, #1b91fa);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'parisienne', cursive;
    font-size: 1.8em;
}

.fontMenu3 {
    color: #0887fb;   
}

.frame-menu3 {
    background-color: #f9f9f9;     
}

/*COUVERTURE LA PALETTE DU GOUT*/
/*Titre "la palette du gout" avec gradiant de couleur*/
.palette-title {
    background: -webkit-linear-gradient(left, #42973c, #bfff7e);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8em;
}

.fontMenu4 {
    color: #42973c;
}

.frame-menu4 {    
    background-color: #f9f9f9;     
}


/*ZONE CONTENANT LE RECTANGLE "PROCHAINEMENT"*/
.next-zone{
    height: 282px;
    width: auto;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    background-color: #ffffff;    
}

.next{
    font-family: sans-serif, monospace;
    background-color: #579c87;
    height: 118px;
    width: 653px;
    border-radius: 20px;
    color: #fdcb46;
    font-size: 42px;
    display: flex;
    margin: auto 0px;
    justify-content: center;
    align-items: center;
}

/*animation des 3 points après prochainement*/
@keyframes pointPop1 {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pointPop2 {
    0%{
        opacity: 0;
    }
    50%{    
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pointPop3 {
    0%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


#firstPoint{ 
    animation-name: pointPop1; 
    animation-duration: 2s;       
    animation-iteration-count: infinite;
    
}

#secondPoint{
    animation-name: pointPop2; 
    animation-duration: 2s;       
    animation-iteration-count: infinite; 
   
}    

#thirthPoint{
    animation-name: pointPop3; 
    animation-duration: 2s;       
    animation-iteration-count: infinite; 
    
}


/*----------------------------------CSS DES MENUS-------------------------------------*/


/*CARACTERISTIQUES COMMUNES AUX 4 PAGES DE MENU*/

/*Titre dans cadre blanc*/
#titleNoStyle {
    text-align: center;    
    font-family:sans-serif, monospace;
    font-size: 3em;
    margin-top: 100px;
    margin-bottom: 50px;   
}

/*etapes des menus*/
article{
    margin-bottom: 60px;
}

/*Titre de chaque étape de menus*/
h4 {
    font-size: 1.7em; 
    text-align: center;
}

/*Animation trait sous titre étapes menus*/
h4:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 0%; /* Change this to whatever width you want to have before hover. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-top: 3px solid black; /* This creates the border. Replace black with whatever color you want. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

h4:hover:after {
    width: 100%; /* This will be the new width of your border when on hover */
}

/*page intérieure colorée contenant le menu*/
.menus .menu-page {
    width: 1182px;
    height: 1677px;  
    display: flex;
    justify-content:space-around;  
    flex-direction: column;
    box-shadow: 2px 2px 12px #555
       
}

/*étapes de menus avec plat et prix*/
.platAndPrice {    
    display: flex;
    justify-content: space-between;
    margin : 0px 0px;
    padding: 0px 160px;
}

/*étapes de menus sans prix*/
.platAlone {
    margin: 10px 0px; 
    padding: 0px 160px;
}

.platAlone .plat{
    padding: 5px 0px;
}

/*lignes de décoration autour des titres des étapes menu*/
.lineTopTitle, .lineMiddleTitle, .lineBottomTitle {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding-top: 50px;
    padding: 0px 50px;
}




/*MENU "LA NOTE ENCHANTEE"*/

/*Note + titre dessous*/
.titleUnderNote{
    margin-top: 200px;
}

.titleUnderNote .fab {
    font-size: 7em; 
    color: #3d1319;
}

.line note-line {
    height= 40px;
    width= 302px;
}


.titleWithNote {
    color: #3d1319;
    text-align: center;    
    font-family: 'devonshire', sans-serif;
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
}


.icon-note {    
    text-align: center;  
    margin-right: 10px;
}

.noteBottom .fab{
    font-size: 4em;
}

.noteBottom {
    margin-bottom: 100px;
    
}




/*gradiant de couleur note*/
.fa-itunes-note {
    background: -webkit-linear-gradient(left, #f15d61, #f6916a);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-page1 {
    background-color: #fcdfdb;    
    font-family: 'kalam', cursive, sans-serif; 
    color: #3d1319;
}

.menu1detail{
    padding: 0px 125px;
}

.menu-page1 .platAndPrice, .menu-page1 .platAlone{
    font-size: 22px;
    margin: 0px 0px; 
    padding: 0px 0px;
}

.menu-page1 .lineTopTitle, .menu-page1 .lineMiddleTitle, .menu-page1 .lineBottomTitle{
    padding: 0px 0px;
}

/*Note et titre en bas du menu*/
.noteBottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#besideNote {
    font-family: 'devonshire', sans-serif;
    font-size: 3em;
    margin: 0px 0px;
}


/*MENU "LE CHIC A LA FRANCAISE"*/

/*Titre du menu avec gradiant de couleurs*/
.titleWithChic {
    font-family: 'croissant one', sans-serif;
    text-align: center;    
    font-size: 3em;
    margin: 60px auto;
    background: -webkit-linear-gradient(left, #d8852e, #905bfd);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.lineTopLeft2, .lineTopRight2, lineMiddleLeft2, lineMiddleRight2, lineBottomLeft2, lineBottomRight2 {
    height= 40px;
    width= 350px;
}

.menu-page2 {  
    background-color: #fff5fe;    
}


#menu2Starter {
    color :#c67412; 
}

#menu2Main {     
    color: #a56799; 
}

#menu2Desert {     
    color: #6e4ccc;   
}

.menu-page2 .plat, .menu-page2 .price{
    font-size: 25px; 
}


/*MENU "LE DELICE DES PAPILLES"*/

/*titre du menu avec gradiant de couleurs*/
.titleStyle3 {
    font-family: 'parisienne',cursive, sans-serif;
    text-align: center;    
    font-size: 6em;
    margin: 60px auto;
    background: -webkit-linear-gradient(left, #905bfd, #1b91fa);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.menu-page3 {
    background-color: #edefef;
    font-family: 'Kalam', cursive, sans-serif;
    
}

.lineLeftMenu3, .lineRightMenu3{
    height=40px;
    width=345px;
}

.title-menu3 h4 {
    font-family: 'Kalam', cursive, sans-serif;
    font-size: 2em;
}

.menu-page3 .plat, .menu-page3 .price{
    font-size: 25px;
}

/*MENU LA PALETTE DU GOUT*/

/*titre du menu avec gradiant de couleurs*/
.titleStyle4 {
    text-align: center;    
    font-size: 6em;
    margin: 60px auto;  
    background: -webkit-linear-gradient(left, #42973c, #bfff7e);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', sans-serif, monospace;
}

.lineLeftMenu4, .lineRightMenu4{
    height=40px;
    width=389px;
}

.menu-page4 {
    background-color: #fdfffd;
    font-family: 'Kalam', cursive, sans-serif;
}

.menu-page4 .plat, .menu-page4 .price{
    font-size: 22px;
}


/*RESPONSIVITE MEDIA QUERIES


    MEDIA QUERIES FOR RESPONSIVENESS :
    ---+--------+--------+------------
    xs |    0px |  575px | Smartphones (portrait)
    sm |  576px |  767px | Smartphones (landscape)
    md |  768px |  991px | Tablets
    lg |  992px | 1199px | Small screens
    xl | 1200px |    +px | Large screens, TV etc...


*/



@media screen and (max-width: 1199px) 
    {
        body{
            height: auto;
        }  
        
        .accueil, .menus{
            width: auto;
            height: auto;
            margin-bottom: 150px;
        }
        
        .container {
            height: auto;
            width: auto;
            margin: 20px auto;
        }
        
        .menus .menu-page{
            width: auto;
            height: auto;
            justify-content: space-around;
        }
        
        .menu-detail{
            padding: 0px 0px;
            width: auto;
        }
        
        .menu1detail{
            padding: 0px 100px;            
        }
        
        .titleStyle{
            margin-bottom: 50px;            
        }
        
        .platAndPrice, .platAlone{
            padding: 0px 100px;
        }
        
        
        .frame{
            height: 560px;
            width: 400px;
        }  
        
        .line img{
            width: 200px;
        }
        
       
}       
    

@media screen and (max-width: 991px) 
    {    
                
        .accueil, .menus{            
            margin-bottom: 140px;
            
        }
        
        .container {
            height: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content:space-between;
            margin: 0px auto;
        }
                
        .frame{
            margin: 20px auto;
        }
        
                
        .menu-page{
            width: auto;
            height: auto;
            margin: auto;
        }
        
        .titleStyle{
            font-size: 50px;
            margin-bottom: 50px;
        }
        
                 
        .platAndPrice, .platAlone {   
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px auto 0px auto;
            
        }
        
        .plat, .price{
            justify-content: center;
            margin: 0px 0px;
        }
        
        .plat{
            margin-top: 25px;
        }
        
        p {
            margin-top: 5px;
            margin-bottom: 10px;
            text-align: center;
        }
        
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            margin: 10px 10px;
            padding: 0px 0px;
        }
        
        .title-menu2 h4{
            justify-content: center;
        }
        
}

@media screen and (max-width: 767px)
    {          
               
        header{
            height: 150px;
        }
                
        .next{
            width: 500px;
            height: 100px;
        }
        
        .bottom a{
            font-size: 25px;
        }
        
        #titleNoStyle{
            visibility: hidden;
            margin: 0px auto;
            font-size: 15px;
        }      
        
        .titleStyle{
            font-size: 50px;
        }
        
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0px;
        }
        
        .platAndPrice, .platAlone {   
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        
        .plat, .price{
            text-align: center;
        }
        
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            margin: 10px 0px;
        }
        
        .title-menu1 h4, .title-menu2 h4, .title-menu3 h4, .title-menu4 h4{
            text-align: center;
        }
        
        
        .line img{
            visibility: hidden;
            width: 0px;
        }
        
               
        footer{
            height: 120px;
        }
        
}

@media screen and (max-width: 575px) 
    {
                
        h1 a{
            font-size: 1.9em;
        }
        
              
        p {
            font-size: 0.8em;
            margin: 5px 0px;
        }
        
        .accueil, .menus{
            margin-bottom: 100px;
        }
        
        .menu-detail{
            padding: 0px 5px;
            width: auto;
        }
 
        .frame {
            width: 250px;
            height: 350px;
        }
        
        .cover-title{
            font-size: 1em;
        }
        
        .fontMenu{
            font-size: 1em;           
        }
        
        .next-zone{
            margin-bottom: 0px;
            height: 150px;
        }
        
        .next{
            width: 250px;
            height: 70px;
        }
        
        
        .next h3{
            font-size: 25px;
        }
                
                      
        .bottom a{
            font-size: 15px;
        }
        
                
        .titleUnderNote {
            margin-top: 10px;
        }
        
        .titleUnderNote .fab {
            font-size: 2em;    
        }
        
        .noteBottom .fab{
            font-size: 2em;
        }
            
        
        .titleStyle{
            font-size: 50px;
        }
        
               
        .lineTopTitle, .lineMiddleTitle, .lineBottomTitle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0px;
            padding: 0px 0px;
        }
        
                
        .platAndPrice, .platAlone {   
            padding: 0px 0px;
        }
        
        .plat, .price{
            padding: 0px 0px;
        }
        
        .plat{
            margin-top: 20px;
        }
        
                   
        .line img{
            width: 0px;
            visibility: hidden;
        }
        
               
        .icon-note{    
            text-align: center;    
            font-size: 2em;
            margin: 0px 10px;
        }
        
        .noteBottom{
            display: flex;
            flex-direction: column;
        }
        
        footer{
            height: 80px;
        }
                
        .mentionLeg a, .contact a{
            font-size: 20px;
        }
}

